# Функции и работа с данными.

## Задание №1.

In [246]:
import pandas as pd

In [268]:
def classify(rating):
    """
    
    Функция классифицирует фильмы по трём категориям в зависимости от величины рейтинга:
    
    2 или меньше - низкий рейтинг
    больше 2, но меньше или равно 4 - средний рейтинг
    выше 4 - высокий рейтинг.
    
    
    """
    score = ["низкий рейтинг", "средний рейтинг", "высокий рейтинг"]
    if rating <= 2:
        return score[0]
    elif rating <= 4:
        return score[1]
    else: return score[2]

In [269]:
# Путь к файлам данных.
path_1 = '../ml-latest-small/'

# Загружаем данные по рейтинга.
ratings = pd.read_csv(path_1 + 'ratings.csv')
ratings['class'] = ratings['rating'].apply(classify)
ratings.sample(10)

       userId  movieId  rating   timestamp            class
54408     388     8640     3.0  1090106549  средний рейтинг
45519     324     4643     3.0  1451528363  средний рейтинг
22872     160     2987     2.0   974255556   низкий рейтинг
11350      73    50806     1.0  1255586233   низкий рейтинг
2108       15     8781     0.5  1416119915   низкий рейтинг
45976     330     1466     3.0   948577408  средний рейтинг
82702     563     3593     2.0  1378589724   низкий рейтинг
20105     134      593     5.0  1361245451  высокий рейтинг
11099      73     6952     3.0  1255593542  средний рейтинг
86885     580     2373     3.0  1156128197  средний рейтинг

## Задание №2.

In [253]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
           'Северо-Запад': ['петербург', 'псков', 'мурманск'],
           'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}
len(geo_data['Центр'])

3

In [266]:
def geo_data_classify(keyword):
    """
    
    Функция перебирает все комбинации вида регион - город и проверяет наличие названия города в запросе. 
    Если в поисковой строке содержится название города, то функция возвращает значение ключа, т.е. название региона.
    
    """
    for i in geo_data.keys():
        for j in range(len(geo_data[i])):
            if geo_data[i][j] in keyword:
                return i
    return 'undefined'

In [267]:
kw = pd.read_csv(path_1 + 'keywords.csv')
kw['region'] = kw['keyword'].apply(geo_data_classify)
geo_filter = kw[ kw['region'] != 'undefined' ]
geo_filter.sample(10)

                                                 keyword  shows        region
36686                      расписание автобусов мурманск   9268  Северо-Запад
36089                                 киноафиша мурманск   9581  Северо-Запад
26781                                  афиша кино москва  12574         Центр
81107           велосипеды распродажа 2016 скидки москва   4401         Центр
59987              лента санкт петербург каталог товаров   5789  Северо-Запад
56744                                  планетарий москва   6280         Центр
56996                  детский мир интернет магазин тула   6166         Центр
37873  политехнический университет в санкт петербурге...   8714  Северо-Запад
9716                     спартак москва официальный сайт  28407         Центр
74222                          совместные покупки москва   4808         Центр

## Задание №3.

In [274]:
# список из всех годов с 1950 по 2010

years = [ str(i) for i in range(1950, 2011, 1) ]

In [275]:
movies = pd.read_csv(path_1 + 'movies.csv')

In [276]:
def production_year(title):
    """
    Функция извлекающая год создания фильма из его названия.
    """
    for i in range(len(years)):
        if years[i] in title:
            return years[i]
        else:
            pass
    return '1900'

In [277]:
# Добавляем столбик с годом создания фильма.
movies['year'] = movies['title'].apply(production_year)
# Оставляем фиильма из требуемого списка.
movies[ movies.year != '1900' ].sample(10)

,movieId,title,genres,year
3383,4602,Harlem Nights (1989),Comedy|Crime|Romance,1989
3034,4062,Mystic Pizza (1988),Comedy|Drama|Romance,1988
214,250,Heavyweights (Heavy Weights) (1995),Children|Comedy,1995
3728,5165,Zombie (a.k.a. Zombie 2: The Dead Are Among Us...,Horror,1979
129,156,Blue in the Face (1995),Comedy|Drama,1995
6615,55844,Itty Bitty Titty Committee (2007),Comedy|Drama|Romance,2007
3945,5553,Stakeout (1987),Comedy|Crime|Romance|Thriller,1987
4289,6267,Assassination Tango (2002),Drama|Thriller,2002
4691,7004,Kindergarten Cop (1990),Action|Comedy|Crime|Thriller,1990
9007,140133,Hollywood Chainsaw Hookers (1988),Comedy|Horror,1988

In [278]:
# Создаём словарь вида [movieId : rating]
rm = ratings.groupby('movieId').mean()['rating']
ratings_dict = rm.to_dict()

In [226]:
# movies.join(rm).groupby('year').mean().sort_values('rating', ascending=0)

In [279]:
def add_rating(row):
    """
    Вспомогательная функция для добавления столбика с рейтингом фильмов.
    Используется словарь rating_dict.
    """
    if row['movieId'] in ratings_dict.keys():
        return ratings_dict[row['movieId']]

In [280]:
movies['rating'] = movies.apply(add_rating, axis=1)
movies.sample(10)

,movieId,title,genres,year,rating
2484,3310,"Kid, The (1921)",Comedy|Drama,1900,4.437500
9061,142196,Cornered! (2009),Comedy|Horror,2009,NaN
6318,48560,Running With Scissors (2006),Comedy|Drama,2006,3.750000
1439,1962,Driving Miss Daisy (1989),Drama,1989,3.625000
7707,90057,Take Shelter (2011),Drama,1900,4.000000
7979,96610,Looper (2012),Action|Crime|Sci-Fi,1900,3.500000
6079,41617,Havoc (2005),Crime|Drama|Romance,2005,NaN
5148,8275,College (1927),Comedy,1900,2.666667
9635,179211,Christina P: Mother Inferior (2017),Comedy,1900,NaN
1776,2374,Gung Ho (1986),Comedy|Drama,1986,3.187500

In [281]:
# Групируем по годам и вычисляем среднюю величину рейтинга.
movies.groupby('year').mean().sort_values('rating', ascending=0)['rating']

year
1951    4.022064
1950    3.955408
1952    3.921124
1957    3.883958
1973    3.788996
          ...
1987    3.174476
1997    3.171610
1990    3.168274
2003    3.159225
2001    3.112977
Name: rating, Length: 62, dtype: float64